@import '../../style/base/layout';
@import '../../style/base/typography';
@import '../../style/utils/breakpoints';
@import '../../style/utils/mixins';
@import '../../style/utils/variables';
@import '../../style/layout/icon-font';
@import '../../style/utils/helpers';
@import '../../style/layout/buttons';

.text__box {
  overflow: hidden;
  padding: 49px 0 26px;
  width: 100%;
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }
}

